# _______________________________________________
# 		Whole Folder
# _______________________________________________
# For Jetbrain IDEs
/.idea/

# For Mac
/.DS_Store/

# _______________________________________________
# 		Mixed
# _______________________________________________


# _______________________________________________
# 		Whole Type
# _______________________________________________


# _______________________________________________
# 		Single File
# _______________________________________________

